<form class='ingredient-form'>
  <input type="text" name="ingredient[name]" placeholder="Name of Ingredient">
  <input type="number" name="recipeingredient[quantity]" placeholder="Amt.">
  <input type="text" name="ingredient[units]" placeholder="Units">
</form>
