{{#each recipes}}
  <li class='my-recipe-listing recipe_listing'>
    <span class='recipe-name' data-id={{id}}>{{name}}</span>
    <span class='delete-button modify_button' data-id={{id}}>Delete</span>
    <span class='edit-button modify_button' data-id={{id}}>Edit</span>
  </li>
{{/each}}
