@import 'breakpoint';

body {
  @include breakpoint(small) {
    margin: .5 * $body-vertical-margin;
    max-width: 650px;
  }
}

.main_image {
  @include breakpoint(small) {
    width: 250px;
  }
}

.main_title {
  @include breakpoint(small) {
    font-size: 6 * $font-size;
  }
}

.welcome_button {
  @include breakpoint(small) {
    font-size: 1.5 * $font-size;
    margin: 0 1.2 * $button-margin;
    padding: $welcome-button-vertical-padding 1.2 * $welcome-button-horizontal-padding;
  }
}
