$background-color: $cream;
$navbar-background-color: tint($buttercup, 10);
$nav-button-background-color: $goldenorange;
$option-button-color: $goldenbrown;
$recipe-listing-background-color: $buttercup;
$recipe-tab-background-color: $buttercup;
$active-tab-background-color: $goldenorange;
$welcome-button-background-color: $bluegreen;

$font-color: $charcoal;
$navbar-font-color: shade($font-color, 30);
$welcome-button-font-color: $white;

$body-max-width: 100%;
$main-image-width: 200px;

$body-vertical-margin: 90px;
$button-margin: 15px;
$main-image-margin: 50px;

$welcome-button-vertical-padding: 10px;
$welcome-button-horizontal-padding: 35px;

body {
  background-color: $background-color;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
  margin: $body-vertical-margin auto 0;
  max-width: $body-max-width;
  text-align: center;
}

ul {
  text-align: left;
}

// .dropmenu {
//   background-color: $nav-button-background-color;
//   color: $font-color;
//   opacity: .92;
//   padding: 30px 10px 10px;
//   position: fixed;
//   text-align: left;
//   z-index: 2;
// }

.ingredient-listing {
  font-size: $font-size;
  text-align: left;
}

.main_image {
  display: block;
  margin: $main-image-margin auto;
  padding: auto;
  width: $main-image-width;
}

.main_title {
  color: tint($font-color, 25);
  font-family: $title-font-family;
  font-size: 4.5 * $font-size;
}

.navbar {
  background-color: $navbar-background-color;
  color: $navbar-font-color;
  margin: 0;
}

.nav_button_style {
  background-color: $nav-button-background-color;
  font-size: .9 * $font-size;
}

.option_button {
  background-color: $option-button-color;
  display: block;
  font-size: 1.2 * $font-size;
  margin: $button-margin;
}

.recipe-list {
  list-style: none;
  padding-left: 0;
}

.recipe-listing {
  background-color: $recipe-listing-background-color;
  font-size: 1.2 * $font-size;
  margin: .5 * $button-margin 0;
  padding: 15px;
  text-align: left;
  width: 100%;
}

.recipe-title {
  font-family: $title-font-family;
  font-size: 3 * $font-size;
}

.recipe-tab {
  background-color: $recipe-tab-background-color;
  font-size: $font-size;
  margin: 0;
  width: 49%;
}

.recipe-tab.active {
  background-color: $active-tab-background-color;
}

.sign_in_button {
  background-color: shade($welcome-button-background-color, 25);
}

.sign_up_button {
  background-color: tint($welcome-button-background-color, 25);
}

.tabs {
  padding: 0;
}

.time-listing {
  float: right;
}

.welcome_button {
  color: $welcome-button-font-color;
  font-size: $font-size;
  margin: $button-margin;
  padding: $welcome-button-vertical-padding $welcome-button-horizontal-padding;
}
